:root { 
--gray_700:#595566; 
--black_900_a2:#000000a2; 
--blue_gray_200:#b5b5c3; 
--black_900:#000000; 
--gray_100_01:#f5f5f5; 
--gray_900:#181818; 
--blue_gray_700_19:#4c595619; 
--gray_200:#eaeaea; 
--white_A700:#ffffff; 
--indigo_800:#204E51; 
--gray_700_01:#585566; 
--gray_100:#f3f3f3; 
}